<script>
  import Icon from 'fa-svelte'
  import { faGithub, faLinkedin, faTwitter, faInstagram } from '@fortawesome/free-brands-svg-icons'
  import { faEnvelope } from '@fortawesome/free-solid-svg-icons'

  const links = [
    {
      icon: faEnvelope,
      alt: 'Email me!',
      to: 'mailto:dewadg@dewadg.id'
    },
    {
      icon: faGithub,
      alt: 'GitHub',
      to: 'https://github.com/dewadg'
    },
    {
      icon: faLinkedin,
      alt: 'LinkedIn',
      to: 'https://www.linkedin.com/in/dewadg'
    },
    {
      icon: faTwitter,
      alt: 'Twitter',
      to: 'https://twitter.com/dewadg'
    }
  ]
</script>

<style lang="scss">
  @import '../css/variables.scss';

  .intro {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;

    .avatar {
      border-radius: 60px;
      margin-right: 2rem;
    }

    h1 {
      margin: 0 0 0.125rem 0;
      font-size: 3rem;
      font-weight: normal;
      color: $secondary;
    }

    h3 {
      font-size: 1.5rem;
      margin: 0 0 1rem 0;
    }

    p {
      margin: 0 0 1.5rem 0;
      line-height: 1.6rem;
    }

    .links {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }

        :global(.icon) {
          font-size: 1.5rem;
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  @media screen and (max-width: 720px) {
    .intro {
      flex-direction: column;
      text-align: center;

      .avatar {
        margin: 0 0 1rem 0;
      }

      .links {
        justify-content: center;
      }
    }
  }
</style>

<div class="intro">
  <img
    alt="dewadg"
    class="avatar"
    src="https://0.gravatar.com/avatar/3b59be1680752b48bd98eaaecc64c970?s=120"
  >
  <div class="content">
    <h1>Adhyaksa Jaya</h1>
    <h3>
      Software Engineer @ <a href="https://warungpintar.co.id/">Warung Pintar</a>
    </h3>
    <p>
      Trying to write code that (hopefully) solve problems.
    </p>
    <ul class="links">
      {#each links as link}
        <li>
          <a
            href={link.to}
            title={link.alt}
            target="_blank"
          >
            <Icon
              class="icon"
              icon={link.icon}
            />
          </a>
        </li>
      {/each}
    </ul>
  </div>
</div>
