<script>
  import Icon from 'fa-svelte'
  import { faTwitter } from '@fortawesome/free-brands-svg-icons'

  export let latestTweet
</script>

<style lang="scss">
  @import '../css/variables.scss';

  .latest-tweet {
    text-align: center;

    .content {
      display: block;
      font-size: 1.25rem;
      margin: 0.5rem 0 0 0;

      .tweet {
        font-size: inherit;
        font-style: italic;
      }

      .user {
        display: inline-block;
        padding-bottom: 3px;
        font-size: 1rem;
        font-weight: bold;
        color: $secondary;
      }
    }
  }
</style>

<div class="latest-tweet">
  <Icon icon={faTwitter} />
  <p class="content">
    {#await latestTweet}
      <span>Wait... Don't leave yet</span>
    {:then result}
      <span class="tweet">
        "{@html result.data.latestTweet.text }" - 
      </span>
      <a
        href={`https://twitter.com/${result.data.latestTweet.user.screenName}`}
        class="user"
      >
        @{ result.data.latestTweet.user.screenName }
      </a>
    {:catch error}
      <span>Sorry, failed to fetch my latest tweet :(</span>
    {/await}
  </p>
</div>
