<script>
</script>

<style lang="scss">
  @import '../css/variables.scss';

  .skills {
    display: flex;

    .sub {
      width: 200px;

      &:nth-child(2) {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
      }

      h3.title {
        font-weight: normal;
        text-align: center;
      }

      ul {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
          background: rgba(255, 255, 255, 0.75);
          padding: 5px;
          margin-bottom: 7.5px;
          border-radius: 5px;
          color: $primary;
          font-size: 0.9rem;
          line-height: 0.9rem;

          img {
            height: 2rem;
          }
        }
      }
    }
  }
</style>

<section class="skills">
  <div class="sub">
    <h3 class="title">Proficient</h3>
    <ul>
      <li>
        <img src="https://www.vectorlogo.zone/logos/golang/golang-icon.svg">
      </li>
      <li>
        JavaScript
      </li>
    </ul>
  </div>
  <div class="sub">
    <h3 class="title">Comfortable</h3>
  </div>
  <div class="sub">
    <h3 class="title">Beginner</h3>
  </div>
</section>
