<script>
  import { onMount } from 'svelte'
  import { fade } from 'svelte/transition'
  import Intro from './components/Intro.svelte'
  import LatestTweet from './components/LatestTweet.svelte'

  let displayContent = false
  let latestTweet
  let latestTweetFetchError = false

  function handleFetchLatestTweet () {
    const payload = {
      operationName: null,
      query: `
        query ($user: String) {
          latestTweet (user: $user) {
            id,
            text,
            createdAt,
            user {
              id,
              screenName
            }
          }
        }
      `,
      variables: {
        user: 'dewadg'
      }
    }

    latestTweet = fetch('https://twtx.dewadg.pro/query', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(payload)
    }).then((res) => {
      displayContent = true

      return res.json()
    }).catch(() => {
      displayContent = true
      latestTweetFetchError = true
    })
  }

  onMount(() => {
    handleFetchLatestTweet()
  })
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap');
  @import './css/variables.scss';

  :global(*) {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 0.05rem;
  }

  :global(a) {
    color: inherit;
    font-size: inherit;

    &:visited {
      color: inherit;
    }

    &:hover {
      text-decoration: none;
    }
  }

  :global(body) {
    background: $primary;
    color: #fafafa;
    margin: 0;
    padding: 0;
  }

  .app {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 100%;
    margin: 0 auto;
  }

  @media all and (max-width: 720px) {
    :global(*) {
      font-size: 13px;
    }

    .app {
      width: 100%;
      padding: 0 2rem;
    }
  }
</style>

<section class="app">
  {#if displayContent}
    <div transition:fade="{{ duration: 750 }}">
      <Intro />
      {#if !latestTweetFetchError}
        <LatestTweet {latestTweet} />
      {/if}
    </div>
  {:else}
    Don't leave yet...
  {/if}
</section>
